body{
background-image:url("bg.jpg");
height:100vh;
background-size:cover;
background-position:center;
}
.login-page
{
width:360px;
padding:10% 0 0;
margin:auto;
}
.register-page
{
width:360px;
padding:10% 0 0;
margin:auto;
}
.form
{
position:relative;
z-index:1;
background:(7, 40, 195, 0.8);
max-width:360px;
margin:0 auto 100px
padding:45px;
text-align:center;
}
 .form h1{
    color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
}


.formbg {
  background-color: white;
  background-image: url('bg.jpg');
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}	
.form input
{
font-family:"Roboto",sans-serif;
outline:1;
background:#f2f2f2;
width:100%;
border:0;
margin: 0 0 15px;
padding:15px;
box-sizing:border-box;
font-size:14px;
}
.form button{
font-family:"Roboto",sans-serif;
textt-transform:uppercase;
outline:0;
background:#4CA;
width:100%;
border:0;
padding:15px;
color:#FFFFFF;
font-size:14px;
cursor:pointer;
}
.form button:hover,.form button:active{
background:#43A047;
}
.form .message
{
margin:15px 0 0;
color:aliceblue;
font-size:12px;
}

